.header-line {
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;

  .header {
    display: flex;
    width: 82%;
    margin: auto;
    align-items: center;
    /* position: relative; */
    margin-top: 16px;
    padding: 20px 0;
    justify-content: space-between;

    .header-left {
      display: flex;
      /* min-width: 60%; */
      align-items: center;
      justify-content: space-between;
    }
    .header-right {
      display: flex;
      gap: 24px;
    }
    h1 {
      font-size: 24px;
      /* max-width: 300px; */
      font-weight: bold;
      font-family: "inter", sans-serif;
    }
    .main {
      min-width: 50%;
      text-align: center;
      ul {
        display: flex;
        justify-content: space-between;
        gap: 48px;
        transition: 2s all ease-in-out;
        li {
          position: relative;
        }
        li::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1.5px;
          background-color: black;
          bottom: -2.5px;
          left: 0;
          opacity: 0;
          transition: 0.2s all ease-in-out;
        }
        li:hover::after {
          opacity: 1;
          width: 100%;
        }
      }
    }

    .search-parent {
      position: relative;
      input {
        width: 243px;
        border-radius: 4px;
        outline: none;
        background-color: var(--bg-gray);
        padding: 7px 20px;
        font-size: 12px;
      }
      img {
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
      }
      .search-drop {
        position: absolute;
        bottom: -270px;
        border-radius: 4px;
        background-color: white;
        height: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: 200%;
        z-index: 1500;
        box-shadow: 0px 0px 5px rgb(98, 97, 97);
        overflow-y: hidden;
        align-content: center;
      }
    }
  }
  .header-line {
    background-color: var(--border-color);
    height: 1px;
    /* margin-top: 16px; */
  }
}
.search-button {
  display: none;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: black;
  bottom: -2.5px;
  left: 0;
  transition: 0.2s all ease-in-out;
}
.drop-menu {
  opacity: 0;
  visibility: hidden;
  background-color: var(--bg-gray);
  position: absolute;
  top: 0px;
  padding: 16px 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  align-self: center;
  transition: 0.2s all ease-in-out;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.drop-menu-button {
  width: 32px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  gap: 6px;
  .line {
    height: 2px;
    background-color: black;
    width: 100%;
    transition: 0.2s all ease-in-out;
  }
  .open:first-of-type {
    transform: rotate(45deg) translateY(4px);
  }
  .open:nth-of-type(2) {
    display: none;
  }
  .open:last-of-type {
    transform: rotate(-45deg) translateY(-5px);
  }
}
.is-opened {
  opacity: 1;
  visibility: visible;
  top: 100px;
  /* z-index: 0; */
}
@media (max-width: 1000px) {
  .header {
    width: 95%;
  }
  .drop-menu-button {
    display: flex;
  }
  .main {
    display: none;
  }
}
@media (max-width: 860px) {
  .search-parent {
    display: none;
  }
  .search-button {
    display: block;
  }
  .search-toogle {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .search-toogle.is-opened {
    max-height: 100px;
    overflow: visible;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
}
